<div id="add-item-modal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <form id="add-item-form">
                <div class="modal-header">
                    <h4 class="modal-title">{{nameForm}}</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    {{#each fieldsInput}}
                    <div class="form-group">
                        <label>{{formatFieldName this}}</label>
                        <input type="text" name={{this}} class="form-control" required>
                    </div>
                    {{/each}}
                </div>
                <div class="modal-footer">
                    <input type="button" class="btn btn-default" data-bs-dismiss="modal" value="Cancel">
                    <input type="submit" class="btn btn-success" value="Save">
                </div>
            </form>
        </div>
    </div>
</div>