<div id="delete-item-modal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <form id="delete-item-form">
                <div class="modal-header">
                    <h4 class="modal-title">{{nameForm}}</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>Are you sure you want to delete?</p>
                </div>
                <div class="modal-footer">
                    <input type="button" class="btn btn-default" data-bs-dismiss="modal" value="Cancel">
                    <input type="submit" class="btn btn-danger" value="Delete">
                </div>
            </form>
        </div>
    </div>
</div>