<div class="container-xl">
    <div class="table-responsive">
        <div class="table-wrapper">
            <div class="table-title">
                <div class="row">
                    <div class="col-sm-6">
                        <h2>Manage <b>Customers</b></h2>
                    </div>
                    <div class="col-sm-6">
                        <button type="button" class="btn btn-success" data-bs-toggle="modal"
                            data-bs-target="#addEmployeeModal">
                            <i class="bi bi-plus-circle"></i><span>Add New Employee</span></a>
                        </button>
                        <button type="button" class="btn btn-danger" data-bs-toggle="modal"
                            data-bs-target="#deleteEmployeeModal">
                            <i class="bi bi-dash-circle"></i><span>Delete</span></a>
                        </button>
                    </div>
                </div>
            </div>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th><input type="checkbox" id="checkbox-select-all"></th>
                        <th>First name</th>
                        <th>Last name</th>
                        <th>Age</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each customers}}
                    <tr>
                        <td><input type="checkbox"></td>
                        <td>{{first_name}}</td>
                        <td>{{last_name}}</td>
                        <td>{{age}}</td>
                        <td>
                            <i type="button" class="bi bi-pencil-square" style="font-size: 21px;"></i>
                            <i type="button" data-bs-id={{_id}} class="delete-customer bi bi-trash"
                                data-bs-toggle="modal" data-bs-target="#deleteEmployeeModal"
                                style="font-size: 21px;"></i>
                        </td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    </div>
</div>
<!-- Edit Modal HTML -->
<div id="addEmployeeModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <form id="add-employee-form" method="POST" action="./customers">
                <div class="modal-header">
                    <h4 class="modal-title">Add Employee</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label>First name</label>
                        <input type="text" name="first_name" class="form-control" required>
                    </div>
                    <div class="form-group">
                        <label>Last name</label>
                        <input type="text" name="last_name" class="form-control" required>
                    </div>
                    <div class="form-group">
                        <label>age</label>
                        <input type="number" name="age" class="form-control" required>
                    </div>
                </div>
                <div class="modal-footer">
                    <input type="button" class="btn btn-default" data-bs-dismiss="modal" value="Cancel">
                    <input type="submit" class="btn btn-success" value="Add">
                </div>
            </form>
        </div>
    </div>
</div>


<!-- Delete Modal HTML -->
<div id="deleteEmployeeModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <form id="delete-custom-form" method="POST" action="">
                <div class="modal-header">
                    <h4 class="modal-title">Delete Employee</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>Are you sure you want to delete?</p>
                </div>
                <div class="modal-footer">
                    <input type="button" class="btn btn-default" data-bs-dismiss="modal" value="Cancel">
                    <input type="submit" class="btn btn-danger" value="Delete">
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        const getDataForm = (form, keys) => {
            return new Map(keys.map(k => [k, form.find(`[name=${k}]`).val()]))
        }

        $("#add-employee-form").submit(function (event) {
            event.preventDefault()

            const $form = $(this)
            const url = $form.attr('action')
            const data = getDataForm($form, ["first_name", "last_name", "age"])

            const posting = $.post(url,
                Object.fromEntries(data),
                function (data, status) {
                    location.reload(true);
                }
            );

            posting.fail(function (xhr, status, error) {
                alert(xhr.responseText)
            });
        })

        $(".delete-customer").click(function (event) {
            const id = $(this).attr("data-bs-id")
            const action = `./customers/${id}?_method=DELETE`
            $("#delete-custom-form").attr("action", action)
        })
    });
</script>